.monday{
	text-align:center;
	border:none;
	background-color:yellow;
	color:blue;
}

.tuesday{
	text-align:center;
	border:none;
	background-color:blue;	
	color:yellow;
}

.first{
	background-color:white;
}

.second{
	background-color:white;
	opacity:0.8;
}

table {
	width:1500px;
	height:700px;
}

.forInput{
	height:30px;
	border-radius:10%;
	background-color: white;
	margin-top:10px;
}