*
{
	margin: 0;
}

html,body
{
	height: 100%;
}

h1, h2, h3, h4, h5, h6, p{
	margin-bottom: 20px;
}


nav
{
	position: fixed;
	width: 100%;
	height: 50px;
	background-color: rgba(0,0,0,.5);
	float:left;
}

.footer
{
	position: fixed;
	margin-top:-70px;
	width: 100%;
	height: 70px;
	background-color: #1e7c82;
	opacity:0.7;
	z-index: 99;
}

	nav>a{
		text-decoration: none;
		color: #fff;
		margin-left: 30px;
	}
.sect
{
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.subSection
{
	float:left;
	height: 10%;
	background-color: blue;
}

.sectOne
{
	background-image: url(new.jpg);
	
	
}
.sectTwo
{
	background-image: url(new1.jpg);
}
.sectThree
{
	background-image: url(bg.jpg);
}
nav>a:hover{
	color:yellow;
}



